
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/local_theme/*
/local_theme/**
!/local_theme/
!/local_theme/.gitkeep
!/local_theme/templates/
!/local_theme/templates/.gitkeep
!/local_theme/public/
!/local_theme/public/.gitkeep
!/local_theme/translations/
!/local_theme/translations/.gitkeep
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.phpunit.cache
###< phpunit/phpunit ###

.idea